*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
}

.wrapper{
    width:970px;
    margin:auto;
}

.media-desktop{
    padding:15px;
    width:645px;
    margin:auto;
}

h1{
    background-color: gray;
    padding:10px;
    font-size: 16px;
    margin-bottom:10px;
    border:1px solid silver;
}

p{
    background-color: lightgray;
    padding:10px;
    margin-bottom:10px;
    border:1px solid silver;
}

.yellow{
    padding:10px;
    background-color: khaki;
}

.phone, .tablet{display: none;}


@media only screen and (max-width : 480px){
    .desktop, .tablet{
        display: none;
    }
    .phone{
        display: block;
    }
    .media-phone{
        padding:15px;
        width:265px;
        margin:auto;
    }
}

@media only screen and (min-width : 481px){
    .desktop, .phone{
        display: none;
    }
    .tablet{
        display: block;
    }
    .media-tablet{
        padding:15px;
        width:440px;
        margin:auto;
    }
}

@media only screen and (min-width : 1024px){
    .phone, .tablet{
        display: none;
    }
    .desktop{
        display: block;
    }
    .media-desktop{
        padding:15px;
        width:645px;
        margin:auto;
    }
}

